pandas 
spacy
neo4j 
networkx 
scikit-learn
numpy
scipy
google-trans
dotenv
huggingface_hub
sentence-transformers
plotly
faiss-cpu
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
